MONGODB_URI=your_mongodb_connection_string

CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_SECRET_KEY=your_cloudinary_secret_key
CLOUDINARY_NAME=your_cloudinary_cloud_name

JWT_SECRET=your_jwt_secret

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password

SEED_HOD_NAME=Head of Dept
SEED_HOD_EMAIL=hod@example.com
SEED_HOD_PASSWORD=your_hod_password

SEED_TO_NAME=Inventory TO
SEED_TO_EMAIL=into@example.com
SEED_TO_PASSWORD=your_to_password

ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174
